html {
    height: 100%;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
    background-image: url('/src/images/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8rem;
    gap: 2rem;
}

.content {
    display: flex;
    width: 20rem;
    height: 20rem;
    background-color: rgb(59, 59, 59, .9);
    border-radius: .5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 1rem;
    color: white;
    justify-content: center;
}




/* =========================== SEARCH BAR =========================== */

.search-bar {
    display: flex;
    flex-direction: row;
    width: 28rem;
    height: 5rem;
    background-color: rgb(59, 59, 59, .9);
    border-radius: .5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 1rem;
    gap: 1rem;
    
}

.search-bar input {
    border-radius: .2rem;
    border: none;
    padding: .5rem;
    width: 100%;
    font-family: inherit;
}

.search-bar button {
    width: 10rem;
    font-family: inherit;
}




/* =========================== SEARCH BAR =========================== */



/* =========================== WEATHER UI =========================== */

.weatherUI {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;

}

.weather-city {
    font-size: 3rem;
    width: 100%;
    font-weight: bold;
    margin-bottom: .5rem;
    text-align: center;

}


.weather-icon {
    width: 5rem;
    margin: auto;
    background-color: white;
    border-radius: 50%;
}

.weather-icon img {
    width: 100%;
}


.weather-status {
    font-size: 2rem;
}

.info-section {
    margin-top: 1rem;
}





/* =========================== WEATHER UI =========================== */

/* =========================== ERROR MESSAGE =========================== */
.error-message {
    margin: auto;
    font-size: 1.5rem;
}


/* =========================== ERROR MESSAGE =========================== */

/* =========================== TOGGLE =========================== */
* {
    user-select: none;
    -webkit-tap-highlight-color: transparent;
  }
  
*:focus {
    outline: none;
  }




.knobs,
.layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.button {
  position: relative;
  width: 74px;
  height: 36px;
  overflow: hidden;
  right: 0;
}


.button.b2 {
  border-radius: 2px;

}

.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {
  z-index: 2;
}

.layer {
  width: 100%;
  background-color: #ebf7fc;
  transition: 0.3s ease all;
  z-index: 1;
  border-radius: .2rem;
}

/* Button 16 */
#button-16 .knobs:before {
  content: "F";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 20px;
  height: 10px;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 9px 4px;
  background-color: rgb(59, 59, 59);
  border-radius: 2px;
  transition: 0.3s ease all, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);

}

#button-16 .checkbox:active + .knobs:before {
  width: 46px;
}

#button-16 .checkbox:checked:active + .knobs:before {
  margin-left: -26px;
}

#button-16 .checkbox:checked + .knobs:before {
  content: "C";
  left: 42px;
  background-color: rgb(59, 59, 59);
}

#button-16 .checkbox:checked ~ .layer {
  background-color: white;
  border-radius: .2rem;
}


/* =========================== TOGGLE =========================== */



